<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="articleList.html">文章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="game.html">賽事</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="record.html">戰績</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="score.html">即時比分</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="input-group">
          <input type="text" class="form-control">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
  </div>
</nav>
